body {
  height: 100%;
  background-image: url("file:///Users/Tanvi/Desktop/beep-boop/img/beep.jpg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

#jumbotron{
  margin-bottom: 20%;
  margin-left: 0;
  margin-right: 0;
}

#form1 {
  margin-left: 20%;
  margin-right: 20%;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  color: white;
  font-weight: 800;
}

#alignButton{
  margin-left: 45%;
}

.col-lg-8{
  margin-left: 18%;
}

#result{
  display: none;
  text-align: center;
}
